<form >
    <div class="row">
        <div class="col-12">
            <h3>RESERVA CON NOSOTROS</h3>
            <h5>los mejores presios del mercado</h5>
            <h5>Desde 900.000</h5>
            <hr>
        </div>
    </div>

    <div class="row text-white bold" >
        <div class="col-12 col-md-6">
            <label for="form-label">Fecha de entrada</label>
            <div class="input-group mb-3">
                <span class="input-group-text" ><i class="bi bi-calendar-event-fill"></i></span>
                <input type="text" class="form-control"
                 placeholder="Username" >
              </div>
        </div>
        <div class="col-12 col-md-6">
            <label for="form-label">Fecha de entrada</label>
            <div class="input-group mb-3">
            <span class="input-group-text" ><i class="bi bi-calendar-event-fill"></i></span>
            <input type="text" class="form-control"
             placeholder="Username" >
          </div></div>
    </div>

    <div class="row  text-white bold">     
        <div class="col-12 col-md-6">
             <div class="input-group mb-3">
            <span class="input-group-text"><i class="bi bi-people"></i></span>
            <select class="form-select" aria-label="Default select example">
                <option selected>Adulto</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">3</option>
                <option value="5">3</option>
              </select>
            
          </div></div>
        <div class="col-12 col-md-6">
             <div class="input-group mb-3">
            <span class="input-group-text"><i class="bi bi-people"></i></span>
            <select class="form-select" aria-label="Default select example">
                <option selected>Niños</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">3</option>
                <option value="5">3</option>
              </select>
            
          </div></div>
    </div>

    <button type="submit" class="btn btn-primary w-100" >Ver disponivilidad </button>

</form>
