.baner{
    background-image: url('../../assets/img/imagentHotel.jpg');
    background-position: top center;
    background-size: cover;
    padding: 5% 40% 30% 10%;
    position: relative;
}

.baner::after{
    content: '';
    position: absolute;
    background-color: black;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: -1;
}